@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;

    .left {
        flex: .4;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 90%;
        }
    }

    .right {
        flex: .6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 45px;
        }

        form {
            width: 60%;
            height: 60%;
            display: flex;
            flex-direction: column;
            margin: 14px;
            align-items: center;

            input {
                width: 400px;
                height: 30px;
                font-size: 14px;
                margin: 14px;
                border: 2px solid #ccc;
                border-radius: 4px;
                padding: 12px 20px;
            }

            textarea {
                width: 400px;
                height: 300px;
                font-size: 14px;
                margin: 14px;
                padding: 12px 20px;
                border: 2px solid #ccc;
                border-radius: 4px;
                resize: none;
            }

            button {
                width: 150px;
                height: 40px;
                color: lightgreen;
                background-color: $mainColor;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                font-size: 23px;
                cursor: pointer;
                margin: 14px;
            }
        }
    }
}