@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
    }
  }

  .right {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 45px;
    }

    .socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      
        .contact-info {
            display: flex;
            align-items: center;
            margin-top: 20px;
            text-decoration: none;
            color: $mainColor;

            .icon {
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: inherit;
                margin-right: 5px;
            }

            &:hover {
              color: #2a7f62;
            }
        }
    }
  }
}
